<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="demo">
    <div align="middle">
        <form method="get">
            <input type="text" maxlength="100" style="width: 500ch" value="" name="q">
            <button type="submit">Search</button>
        </form>
    </div>
    <h2>You get 1 results. Start from 0, totally 2</h2>

    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-striped">
            
            <tbody>
            
            <tr>
                <td><a href=https://www.ptt.cc/bbs/LoL/M.1562223193.A.CA4.html>[戰棋] 虛空生物增加三隻變成3/6BUFF有搞頭嗎</a></td>
                <td>Total number of Message 2</td>
            </tr>
            
            <tr>
                <td><a href=https://www.ptt.cc/bbs/LoL/M.1562222306.A.DD1.html>[電競] 2019 Rift Rivals:KR/CN/LMS/VN Day1</a></td>
                <td>Total number of Message 2</td>
            </tr>
            
            </tbody>
        </table>
        <dir align="middler">
            
            <a href="search?q=&from=0">Previous</a>
            
            <a href="search?q=&from=0">Next</a>
        </dir>
    </div>
</div>
<script src="js/index.js"></script>
</body>
</html>